.swiper-button-next {
  right: 45px;
}

.swiper-button-prev {
  left: 45px;
}

.swiper-button-prev:after, .swiper-button-next:after {
  color: #389CD6;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #b6b6b6;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #286e96;
}

//responsive
@media(max-width:30em) {
  .swiper-button-next {
    right: 15px;
  }

  .swiper-button-prev {
    left: 15px;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 1.2rem;
  }

  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }
}